
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Roboto:wght@100;400;500;700&display=swap');



body {
    font-family: 'Anton', sans-serif;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100vw;
    color: #450a0a;
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
    background-color: #f59e0b;
    padding-left: 2em;
    padding-right: 2em;
}

.header {
    flex: 0 0 5%; 
    display: flex;
    flex-direction: row;

}

.logo {
    color: #713f12;
    fill: #713f12;
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
}

.midsection {
    flex: 1;
    margin-top: 10em;
    display: grid;
    grid-template-columns: 30% 70%;
    gap: 1em;
}

.left-header > button {
    margin-top: 2em;
    border-radius: 8px;
    border-style: none;
    background-color: #713f12;
    color: white;
    width: 60%;
    cursor: pointer;
}

.add-form {
    display: none; 
    z-index: 1;
    position: fixed;
    margin-top: -3%;
    background-color: #f59e0b;
    border-radius: 8px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.065);
    padding-right: 5em;
    padding-left: 5em;
    padding-top: 5em;
    padding-bottom: 1em     ;
    width: 50%;
    height: 50%;
}
.form ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: 3em;
}

.form li {
    display: flex;
    flex-direction: column;
    gap: 1em;
}

.form input, select {
    border-radius: 8px;
    border-style: none;
}

.form-buttons {
    margin-top: auto;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    gap: 1em;
}

.form-buttons button {
    margin-top: 2em;
    border-radius: 5px;
    border-style: none;
    color: white;
    width: 30%;
    height: 50%;
    cursor: pointer;
}

.form-buttons .close {
    background-color: rgb(132, 72, 20);
}

.form-buttons .submit {
    background-color: rgb(22, 37, 107);
}

.right, .left {
    display: flex;
    flex-direction: column;
    padding: 3em;

}

.content-grid {
    padding-top: 5em;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1em;
    padding: 2em;
}

.content-grid > div {
    min-height: 10em;
    border-radius: 8px;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.065);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2em;
}

.book-icons {
    display: flex;
    flex-direction: row;
    margin-top: auto;
    justify-content: flex-end;
}

.book-icons > button {
    padding: 0;
border: none;
background: none;
cursor: pointer;
}


.footer {
    flex: 0 0 5%; 
}